<div class="container">
  <div class="card" style="font-family: 'Roboto', sans-serif">
    <h2 style="color: rgb(6, 97, 6)">Web Scraper</h2>
    <p>
      used to scrape news articles on internet to create a dataset for a news
      summmarisation model
    </p>
    <ul>
      <li>used puppeteer to scrape urls of news articles of key interests</li>
      <li>
        automated tasks to asynchronously fetch and scrape the news content
        using axios
      </li>
      <li>
        scraped over 150,000 different news articles filtered out of 1.2 million
        articles spanning over 6 years worth of content.
      </li>
    </ul>
  </div>

  <div class="card" style="font-family: 'Roboto', sans-serif">
    <h2 style="color: rgb(6, 97, 6)">Book-Reading List</h2>
    <ul>
      <li>
        used GraphQL for end api for Books and author queries to Display
        on-demand
      </li>
      <li>
        used signin/login featuring auth using JWT to provide individual user
        custom dashboard
      </li>
      <li>
        Developed client-side dashboard with React, backend with Express and api
        using GraphQl
      </li>
      <li>
        MongoDB was used to create and store user data, Books , and Authors
        separately
      </li>
    </ul>
  </div>
  <div class="card" style="font-family: 'Roboto', sans-serif">
    <h2 style="color: rgb(6, 97, 6)">E-commerce Site</h2>
    <ul>
      <li>created a fully-functional E-commerce website using NextJs</li>

      <li>used Stripe checkout for payment Gateway</li>
    </ul>
  </div>
</div>
