<div class="container">
  <div class="column">
    <h3
      class="animate__animated animate__bounce animate__delay-1s"
      style="color: limegreen"
    >
      Hello,
    </h3>
    <h1 class="animated-text" style="color: azure">
      My Name is
      <span style="color: limegreen">Sameer </span><br />
      I'm a Web Developer
    </h1>
  </div>
  <div class="column">
    <div class="icons">
      <img
        src="../../assets/square-js.svg"
        width="50px"
        height="50px"
        alt="javaScipt"
      />
      <img
        src="https://www.vectorlogo.zone/logos/angular/angular-ar21.svg"
        alt="angular"
      />
    </div>
    <div class="icons">
      <img
        src="https://www.vectorlogo.zone/logos/nodejs/nodejs-horizontal.svg"
        alt="NodeJs"
      />
      <img
        src="https://www.vectorlogo.zone/logos/expressjs/expressjs-ar21.svg"
        alt="expressjs"
      />
    </div>
    <div class="icons">
      <img
        src="https://www.vectorlogo.zone/logos/graphql/graphql-ar21.svg"
        alt="GraphQL"
      />
      <img
        src="https://www.vectorlogo.zone/logos/mongodb/mongodb-ar21.svg"
        alt="mongodb"
      />
    </div>
  </div>
</div>
<div class="row" style="margin-top: 500px">
  <h3
    style="font-family: 'Roboto', sans-serif; font-weight: bold; color: azure"
  >
    My Projects...
  </h3>
  <hr />
  <app-projects style="position: relative; z-index: -1"></app-projects>
</div>
